<div class="w-full">
  <div class="text-center pt-20 ">
      <p class="font-medium text-4xl "> </p>
  </div>
  <div class="w-10/12 mx-auto grid grid-cols-[75%_25%] mt-20">
      <div>
          <p class="font-medium text-3xl">Chi Tiết Điểm Đến</p>
          <div class="mt-6">
              <p></p>
          </div>
          <div class="w-full flex mt-10">
              <div class="w-1/2">
                  <img class="max-w-[300px] max-h-[200px] p-2" src=" " alt="">
              </div>
              <div class="w-1/2 p-2">
                  <p>  </p>
              </div>
          </div>
      </div>
      <div class="m-2">
          <p class="font-medium text-3xl">Ảnh Mô Tả</p>
          <div>
              <div class="flex mt-7">
                  <div class="w-2/6 h-2/6 mx-2">
                     <img class="w-full h-full rounded-md" src="" alt="">
                  </div>
                  <div class="w-2/6 h-2/6 mx-2">
                      <img class="w-full h-full rounded-md" src="" alt="">
                   </div>
                   <div class="w-2/6 h-2/6 mx-2">
                      <img class="w-full h-full rounded-md" src="" alt="">
                   </div>

              </div>
          </div>
      </div>
  </div>
  <div class="w-10/12 mx-auto mt-16 ">
      <table border="1">
          <tr>
              <td class="pb-10 font-medium ">Nước </td>
              <td class="pl-20 pb-10">Việt Nam</td>
          </tr>
          <tr>
              <td class="pb-10 font-medium">Loại Tiền</td>
              <td class="pl-20 pb-10" >VND</td>
          </tr>
          <tr>
              <td class="pb-10 font-medium">Khoảng Cách</td>
              <td class="pl-20 pb-10" >100</td>
          </tr>
      </table>
  </div>
</div>
