<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
</head>
<body>
    <!--Hỗ Trợ Khách Hàng-->

    <div class="grid grid-cols-2 w-full h-[150px] mx-auto my-20">
        <div class="border bg-gray-200 p-10">
            <h1 class="text-xl">Đăng ký nhận bản tin của chúng tôi</h1>
            <p class="text-sm text-gray-500 pt-3">Tiết kiệm tới 50% cho các chuyến tham quan và chuyến đi.
                Nhận quyền truy cập ngay vào giá thấp hơn.</p>
            <div class="flex pt-3">
                <input class="w-[270px] h-10 rounded-md " type="text" placeholder="Nhập Địa Chỉ Gmail Của Bạn">
                <button>
                    <p class="w-[90px] h-10 border p-2 bg-orange-600 text-white rounded-md">Đăng Kí</p>
                </button>
            </div>
        </div>
        <div class="border bg-gray-400 p-10">
            <h1 class="text-xl">Hỗ trợ khách hàng 24/7</h1>
            <p class="text-sm text-gray-500 pt-3">Liên hệ với chúng tôi ngay bây giờ để có tất cả các câu hỏi liên
                quan đến
                tour du lịch của bạn được trả lời.</p>
            <div class=" flex pt-3">
                <i class="fas fa-user"></i>
                <i class="fas fa-user"></i>
                <i class="fas fa-user"></i>
                <i class="fas fa-user"></i>
                <div class="ml-5">
                    <a routerLink="/lienhe">
                        <p class="p-2 bg-orange-600 text-white rounded-md" >Liên Hệ Ngay</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="w-10/12 mx-auto my-20">
        <footer>
            <div class="grid grid-cols-[75%_25%]">
                <div class="grid grid-cols-[50%_25%_25%]">
                    <div>
                        <p class="font-medium text-lg">Những Điểm Đến Hẫp Dẫn </p>
                        <div class="grid grid-cols-2 my-3 py-4">
                            
                        </div>
                    </div>
                    <div>
                        <p class="font-medium text-lg">Công Ty Chúng Tôi </p>
                        <div class="my-3 py-4">
                            <p><a href="">Cung Cấp Tour Du lịch</a></p>
                            <p><a href="">Chuyên Nghiệp</a></p>
                            <p><a href="">Đáng Tin Cậy</a></p>
                            <p><a href="">Tận Tâm Với Khách Hàng</a></p>
                        </div>
                    </div>
                    <div>
                        <p class="font-medium text-lg">Cộng Đồng</p>
                        <div class="my-3 py-4">
                            <p><a href="">Tour Xuyên Việt</a></p>
                            <p><a href="">4 TOURS</a></p>
                            <p><a href="">Hội Đam Mê Du Lịch</a></p>
                            <p><a href="">Chúng Ta Cùng Đi</a></p>
                        </div>
                    </div>
                </div>
                <div>
                    <img class="w-7/12 float-right " src="../../../assets/LOGO.png" alt="">
                    <div class="float-right">
                        <p class="text-orange-400 italic ">Tòa Lotte Center,54 Liễu Giai,Ba Đình,Hà Nội</p>
                        <div class="float-right">
                            <p class="float-right">0842 755 626</p>
                            <p class="">fourtour@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="grid grid-cols-3 my-2">
                <p>© 2023 Zourney.All rights reserved.</p>
                <div class="flex justify-center">
                    <a class="font-medium text-2xl text-red-500" href="">Việt Nam Những Chuyến Đi</a>
                </div>
                <div class="w-full h-full flex justify-end">
                    <a href=""><i class="fa-brands fa-facebook text-4xl mx-2"></i></a>
                    <a href=""><i class="fa-brands fa-instagram text-4xl mx-2"></i></a>
                    <a href=""><i class="fa-brands fa-youtube text-4xl mx-2"></i></a>
                    <a href=""><i class="fa-brands fa-twitter text-4xl mx-2"></i></a>
                </div>
            </div>
        </footer>
    </div> 
</body>
</html>