<div class="w-11/12 mx-auto my-0">
    <p class="text-2xl my-3">Danh sách địa điểm</p>
    <div>
        <div class=" py-3 rounded-t-xl">
            <div class="grid grid-cols-[75%_25%] items-center mb-3 ">
                <form action="" method="post">
                    <div class="flex items-center">
                        <input class="py-1 w-64 px-3 rounded-l-2xl border-2" name="kyw"
                            placeholder="Nhap tu khoa tim kiem" type="text">
                        <button class="py-2 px-3 bg-slate-200 rounded-r-2xl border-2" type="submit" name="btn_search">
                            <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"> 
                                <path
                                    d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z" />
                            </svg>
                        </button>
                    </div>
                </form>
                <div class="w-full flex justify-end">
                    <button class="w-2/3  my-0 flex  items-center bg-blue-300 p-1 rounded-xl justify-center">
                        <svg class="w-4 h-4 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"> 
                            <path
                                d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                        </svg>
                        <a href="/admin/adddiadiem">Thêm mới</a>
                    </button>
                </div>
            </div>
            <hr>
        </div>
        <table class="w-full my-4">
            <tr class="grid grid-cols-[10%_20%_20%_40%_10%] ">
                <th class="border border-collapse py-1 rounded-tl-xl">ID</th>
                <th class="border border-collapse py-1">Dia diem</th>
                <th class="border border-collapse py-1">Anh</th>
                <th class="border border-collapse py-1">Noi dung</th>
                <th class="border border-collapse py-1  rounded-tr-xl">Thao tac</th>
            </tr>

            <tbody *ngFor="let product of products, let i = index">
                <tr class="grid grid-cols-[10%_20%_20%_40%_10%]">
                    <td class="border border-slate-500 py-1 text-center">
                        {{ i + 1 }}
                    </td>
                    <td class="border border-slate-500 py-1 px-2">
                        {{ product.name }}
                    </td>
                    <td class="border border-slate-500 "><img class="max-w-[100px] max-h-[100px] mx-auto my-1"
                            [src]="product.img" alt=""></td>