<p>listblog works!</p>
<div class="w-11/12 mx-auto my-0">
  <p class="text-2xl my-3">Danh sách địa điểm</p>
  <div>
      <div class=" py-3 rounded-t-xl">
          <div class="grid grid-cols-[75%_25%] items-center mb-3 ">
              <form action="" method="post">
                  <div class="flex items-center">
                      <input class="py-1 w-64 px-3 rounded-l-2xl border-2" name="kyw"
                          placeholder="Nhap tu khoa tim kiem" type="text">
                      <button class="py-2 px-3 bg-slate-200 rounded-r-2xl border-2" type="submit" name="btn_search">
                          <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                              <path
                                  d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z" />
                          </svg>
                      </button>
                  </div>
              </form>
              <div class="w-full flex justify-end">
                  <button class="w-2/3  my-0 flex  items-center bg-blue-300 p-1 rounded-xl justify-center">
                      <svg class="w-4 h-4 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                          <path
                              d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                      </svg>
                      <a href="/admin/addblog">Thêm mới</a>
                  </button>
              </div>
          </div>
          <hr>
      </div>
      <table class="w-full my-4">
          <tr class="grid grid-cols-[10%_20%_10%_20%_30%_10%] ">
              <th class="border border-collapse py-1 rounded-tl-xl">ID</th>
              <th class="border border-collapse py-1">Tiêu đề</th>
              <th class="border border-collapse py-1">Ảnh</th>
              <th class="border border-collapse py-1">Ngày đăng</th>
              <th class="border border-collapse py-1">Nội dung</th>
              <th class="border border-collapse py-1  rounded-tr-xl">Thao tác</th>
          </tr>

          <tbody *ngFor="let blog of blogs, let i = index">
              <tr class="grid grid-cols-[10%_20%_10%_20%_30%_10%]">
                  <td class="border border-slate-500 py-1 text-center">
                      {{ i + 1 }}
                  </td>
                  <td class="border border-slate-500 py-1 px-2">
                      {{ blog.name }}
                  </td>
                  <td class="border border-slate-500 "><img class="max-w-[100px] max-h-[100px] mx-auto my-1"
[src]="blog.img" alt=""></td>
                  <td class="border border-slate-500 py-1 text-left px-3">
                      {{ blog.dates }}
                  </td>
                  <td class="border border-slate-500 py-1 text-left px-3">
                      {{ blog.content }}
                  </td>


                  <td class="border border-slate-500 text-center grid grid-cols-1 p-3 space-y-2">
                      <a class="flex items-center bg-blue-300 justify-center m-1 rounded-xl hover:bg-blue-500 hover:text-white hover:fill-white"
                          routerLink="/admin/editblog/{{blog._id}}"><svg class="w-4 h-4 mr-1"
                              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                              <path
                                  d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.8 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z" />
                          </svg><button>UPDATE</button></a>
                      <a class="flex items-center bg-blue-300 justify-center m-1 rounded-xl hover:bg-blue-500 hover:text-white hover:fill-white"
                          (click)="deleteBlog(blog._id)"><svg class="w-4 h-4 mr-1" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 448 512">
                              <path
                                  d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                          </svg> <button>DELETE</button>
                      </a>
                  </td>
              </tr>
          </tbody>

      </table>
  </div>
</div>
