<div class="w-11/12 mx-auto my-0 ">
    <p class="text-3xl my-4 border-b-2">Thêm địa điểm mới</p>
    <form action="" enctype="multipart/form-data" class="w-2/3 mx-auto" >
        <div class="pt-2">
            <p class="px-2 text-xl">Địa điểm</p>
            <input class="px-2 py-[2px] border border-slate-700 w-11/12 mx-2" type="text" 
                placeholder="Tiêu đề"  id="name"  [(ngModel)]="tour.name" name="name">
        </div>

        <div class="pt-2">
            <p class="px-2 text-xl">Ảnh</p>
            <input class="px-2 py-[2px] border border-slate-700 w-11/12 mx-2" type="text"   id="img"  [(ngModel)]="tour.img" name="img">
        </div>

        

        <div class="pt-2">
            <p class="px-2 text-xl">Tên Tour</p>
            <input class="px-2 py-[2px] border border-slate-700 w-11/12 mx-2" type="text"   id="nametour"  [(ngModel)]="tour.nametour" name="nametour">
        </div>

        <div class="pt-2">
            <p class="px-2 text-xl">Số lượng</p>
            <input class="px-2 py-[2px] border border-slate-700 w-11/12 mx-2" type="text"   id="quantity"  [(ngModel)]="tour.quantity" name="quantity">
        </div>

        <div class="pt-2">
            <p class="px-2 text-xl">Giá tour</p>
            <input class="px-2 py-[2px] border border-slate-700 w-11/12 mx-2" type="text"   id="price"  [(ngModel)]="tour.price" name="price">
        </div>

        <div class="pt-2">
            <p class="px-2 text-xl">Địa Chỉ</p>
            <input class="px-2 py-[2px] border border-slate-700 w-11/12 mx-2" type="text"   id="address"  [(ngModel)]="tour.address" name="address">
        </div>
        
        <div class="flex space-x-3 ml-2">
            <button type="submit"  (click)="createTour()"
                class="w-28 mt-4 flex items-center justify-center bg-blue-500 p-2 border rounded-full hover:bg-blue-800 hover:text-white hover:fill-white hover:border-stone-800 ">
                <svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                    <path
                        d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                </svg>
                Thêm
            </button>

            <button
                class="w-28 mt-4 flex items-center justify-center bg-blue-500 p-2 border rounded-full hover:bg-blue-800 hover:text-white hover:fill-white hover:border-stone-800">
                <svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                    routerLink="/admin/locations">