<div class="w-10/12 mx-auto">
    <h1 class="px-32 text-3xl text-center">Cần liên hệ với chúng tôi? Sử dụng một trong các tùy chọn dưới đây. Đội ngũ của
            chúng
            tôi luôn sẵn lòng
            giúp đỡ.</h1>
        <div class="grid grid-cols-[70%_30%]">
            <div class="pl-32 py-4 border-dotted border-r">
                <p class="text-xl">Gửi email cho chúng tôi</p>
                <p class="text-gray-400">Hãy gửi email cho chúng tôi và chúng tôi sẽ liên hệ lại với bạn trong vòng 48 giờ…
                </p>
                <div class="grid grid-cols-2 w-full">
                    <div class="py-6">
                        <p>Họ Và Tên</p>
                        <input class="border  w-11/12 border-gray-300 rounded-xl px-2 py-1" type="text" placeholder="Họ Và Tên">
                    </div>
                    <div class="py-6">
                        <p>E-Mail</p>
                        <input class="border  w-10/12 border-gray-300 rounded-xl px-2 py-1" type="text" placeholder="Nhập EMAIL">
                    </div>
                </div>
    
                <div>
                    <p>Số Liên Lạc</p>
                    <input class="border  w-11/12 border-gray-300 rounded-xl px-2 py-1" type="text" name="" id=""
                        placeholder="+84 123456789">
                </div>
    
                <div class="py-6">
                    <p>Nhập Nội Dung</p>
                        <textarea  class="border h-[150px] w-11/12 border-gray-300 rounded-xl px-2 py-1" placeholder="Nhập Lời Nhắn" name="" id="" cols="30" rows="10"></textarea>
                </div>
    
                <div class="w-full">
                    <button class=" text-white rounded-xl px-10 py-1 bg-orange-300 hover:bg-orange-500">Gửi</button>
                </div>
            </div>
    
            <div class="p-3">
                <h1 class="text-3xl py-2">Truy vấn chuyến đi</h1>
                <p class="text-gray-400">Đường dây trợ giúp khẩn cấp </p>
                <p class="text-red-600 text-xl pb-4 font-medium">0842 755 626</p>
    
                <p class="text-gray-400">Giờ có thể liên hệ </p>
                <p class="text-xl pb-4 font-medium">Thứ Hai-CN: 24 giờ</p>
    
                <p class="text-gray-400">Yêu cầu thông tin về một chuyến đi?</p>
                <a class="text-xl pb-5 font-medium" href="#">fourtour@gmail.com</a>
    
                <iframe class="w-full max-h-[300px]"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.8638558813955!2d105.74459841424536!3d21.03813279283566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b991d80fd5%3A0x53cefc99d6b0bf6f!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1668931802763!5m2!1svi!2s"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
    
            </div>
        </div>
    </div>