  <!-- content -->
  <div class="grid grid-cols-2 p-10">
    <div class="">
        <img class="h-[600px]" src="../../../assets/dulichvn.jpg" alt="">
    </div>
    <div class="px-10">
        <p class="font-medium text-sm pb-6">THỜI GIAN ĐỂ KHÁM PHÁ</p>
        <h1 class="text-3xl ">Một cách tốt hơn để đi du lịch và tham quan thế giới</h1>
        <div class="text-lg px-20">
            <p>
                Zourney là một cổng đặt chỗ du lịch toàn cầu, nơi bạn có thể dễ dàng đặt các chuyến tham quan trong
                ngày, các chuyến khởi hành theo nhóm cố định, các kỳ nghỉ và các gói kỳ nghỉ ở hơn 130 quốc gia trên
                thế giới.
            </p>
            <p class="text-gray-400 pb-10">
                Ngày nay, việc đặt tour du lịch hoặc gói kỳ nghỉ phù hợp đã trở thành một quá trình tốn nhiều thời
                gian và công sức. Công ty lữ hành nào đủ tiêu chuẩn? Giá tour phù hợp là bao nhiêu? Khi bạn trả tiền
                đặt cọc trước cho một công ty lữ hành không xác định, tiền của bạn có an toàn không? Các bài đánh
                giá trên trang web của nhà khai thác địa phương có chính hãng không?
            </p>
            <a routerLink="/lienhe" class="border hover:bg-orange-400 hover:text-white border-black p-4 ">Liên Hệ
                Với Chúng Tôi</a>
        </div>
    </div>
</div>
<div>
    <div class="flex justify-center items-center p-10">
        <div class="flex border-r-2 px-5">
            <i class="text-3xl pr-4 text-orange-600 fas fa-suitcase-rolling"></i>
            <div>
                <p class="text-2xl font-medium text-orange-600">16,284+</p>
                <p class="text-xs font-medium">DU LỊCH VÀ NGHỈ LỄ</p>
            </div>
        </div>

        <div class="flex border-r-2 px-5">
            <i class="text-3xl pr-4 text-orange-600 far fa-star"></i>
            <div>
                <p class="text-2xl font-medium text-orange-600">16,284+</p>
                <p class="text-xs font-medium">ĐÁNH GIÁ CHUYẾN ĐI</p>
            </div>
        </div>

        <div class="flex border-r-2 px-5">
            <i class="text-3xl pr-4 text-orange-600 fas fa-globe-europe"></i>
            <div>
                <p class="text-2xl font-medium text-orange-600">16,284+</p>
                <p class="text-xs font-medium">CÁC QUỐC GIA ĐƯỢC BẢO HIỂM</p>
            </div>
        </div>

        <div class="flex px-5">
            <i class="text-3xl pr-4 text-orange-600 fas fa-users"></i>
            <div>
                <p class="text-2xl font-medium text-orange-600">16,284+</p>
                <p class="text-xs font-medium">ĐIỀU HÀNH TOUR</p>
            </div>
        </div>
    </div>
</div>

<!-- Giới Thiệu Về Ưu Đãi -->
<div class=" bg-slate-100 h-[450px] p-10">
    <p class="text-sm font-medium text-center py-2">TẠI SAO ĐẶT PHÒNG VỚI CHÚNG TÔI</p>
    <p class="text-3xl py-4  border-b  w-7/12 mx-auto font-medium text-center">Quy trình đặt tour
        thuận tiện và dễ dàng</p>
    <div class="grid grid-cols-3 p-14 mx-auto">
        <div class="pb-10">
            <div class="flex">
                <i class="fas pt-2 fa-check"></i>
                <p class="text-2xl ">Giá tốt nhất</p>
            </div>
            <p class="text-gray-600">Kinh nghiệm du lịch tuyệt vời là vô giá. Với Đảm bảo giá tốt nhất cho tất cả
                các chuyến tham quan, bạn luôn nhận được ưu đãi tốt nhất.</p>
        </div>
        <div class="pl-10">
            <div class="flex">
                <i class="fas pt-2 fa-check"></i>
                <p class="text-2xl ">Giá tốt nhất</p>
            </div>
            <p class="text-gray-600">Kinh nghiệm du lịch tuyệt vời là vô giá. Với Đảm bảo giá tốt nhất cho tất cả
                các chuyến tham quan, bạn luôn nhận được ưu đãi tốt nhất.</p>
        </div>
        <div class="pl-10">
            <div class="flex">
                <i class="fas pt-2 fa-check"></i>
                <p class="text-2xl ">Giá tốt nhất</p>
            </div>
            <p class="text-gray-600">Kinh nghiệm du lịch tuyệt vời là vô giá. Với Đảm bảo giá tốt nhất cho tất cả
                các chuyến tham quan, bạn luôn nhận được ưu đãi tốt nhất.</p>
        </div>

        <div>
            <div class="flex">
                <i class="fas pt-2 fa-check"></i>
                <p class="text-2xl ">Giá tốt nhất</p>
            </div>
            <p class="text-gray-600">Kinh nghiệm du lịch tuyệt vời là vô giá. Với Đảm bảo giá tốt nhất cho tất cả
                các chuyến tham quan, bạn luôn nhận được ưu đãi tốt nhất.</p>
        </div>

        <div class="pl-10">
            <div class="flex">
                <i class="fas pt-2 fa-check"></i>
                <p class="text-2xl ">Giá tốt nhất</p>
            </div>
            <p class="text-gray-600">Kinh nghiệm du lịch tuyệt vời là vô giá. Với Đảm bảo giá tốt nhất cho tất cả
                các chuyến tham quan, bạn luôn nhận được ưu đãi tốt nhất.</p>
        </div>

        <div class="pl-10">
            <div class="flex">
                <i class="fas pt-2 fa-check"></i>
                <p class="text-2xl ">Giá tốt nhất</p>
            </div>
            <p class="text-gray-600">Kinh nghiệm du lịch tuyệt vời là vô giá. Với Đảm bảo giá tốt nhất cho tất cả
                các chuyến tham quan, bạn luôn nhận được ưu đãi tốt nhất.</p>
        </div>
    </div>
    

    
</div>




