<!-- background -->
<div>
    <div class="max-h-[1000px] max-w-full">
        <div class="slideshow-container z-[-1]">
            <!-- Full-width images with number and caption text -->
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>
    <div>
        <div class="text-center my-10">
            <p class="font-medium text-5xl">Blog</p>
        </div>
    </div>
    <div class="mt-20 w-10/12 mx-auto flex ">
        <div class="left-0 w-[70%]">
            <div class="col-span-2 inset-y-0 flex " *ngFor="let blog of blogs">
                <div class="ml-10 w-[400px]">
                    <img class=" rounded-md" [src]="blog.img" alt="">
                </div>
                <div class="mt-8  ">
                    <a href="">
                        <p class="font-medium text-2xl">{{ blog.name }}</p>
                    </a>
                    <div class="mt-8 ">
                        <p>{{ blog.content }}</p>
                    </div>
                    <div class="mt-6 mb-8 ">
                        <a routerLink="/posts/detailblog/{{blog._id}}">
                            <p class="font-medium text-lg">Đọc Tiếp ... </p>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="px-5 inset-y-0 right-0 w-[30%]">
            <div class="mt-16 ml-24">
                <div>
                    <p class="font-medium text-xl">Các Thể Loại Phổ Biến</p>
                </div>
                <div class="mt-6">
                    <div class="flex">
                        <div class="border border-gray-300 bg-gray-200 px-1 py-1 rounded-md">
                            <a href="">
                                <p>Phiêu Lưu</p>
                            </a>
                        </div>
                        <div class="border border-gray-300 bg-gray-200 px-1 py-1 rounded-md ml-3">
                            <a href="">
                                <p>Tuần Trăng Mật</p>
                            </a>
                        </div>
                    </div>
                    <div class="flex mt-3">
                        <div class="border border-gray-300 bg-gray-200 px-1 py-1 rounded-md">
                            <a href="">
                                <p>Đu Lịch Thành Phố</p>
                            </a>
                        </div>
                        <div class="border border-gray-300 bg-gray-200 px-1 py-1 rounded-md ml-3">
                            <a href="">
                                <p>Đi Bộ Đường Dài</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>