<!-- background -->
<div>
    <div class="max-h-[1000px] max-w-full">
        <div class="slideshow-container z-[-1]">
            <!-- Full-width images with number and caption text -->
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>
    <div>
        <div class="text-center my-10">
            <p class="font-medium text-5xl">Blog</p>
        </div>
    </div>
    <div class="mt-20 w-10/12 mx-auto grid grid-cols-[70%_30%]">
        <div class="">
            <div class="ml-32">
                <div class="ml-10">
                    <img class="rounded-md " alt="">
                </div>
                <div class="mt-8  ">
                    <a href="">
                        <p class="font-medium text-2xl"></p>
                    </a>
                    <div class="mt-8 ">
                        <p></p>
                    </div>
                    <div class="mt-6 mb-8 ">
                        <a href="">
                            <p class="font-medium text-lg">Đọc Tiếp ... </p>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="px-5">
            <div class="ml-10">
                <div>
                    <form action="" id="search-box">
                        <input type="text" value="Tìm Kiếm " class="px-3 py-2">
                        <button class="border border-gray-400 bg-cyan-400 px-3 py-2 rounded-md"><i
                                class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <div>
                    <div class="mt-6">
                        <p class="font-medium text-xl">Bài Viết Gần Đây</p>
                    </div>
                </div>
                <div>

                    <div class="flex mt-10">
                        <div class="max-w-[100px] max-h-[50px]">
                            <img class="w-full h-full" src="" alt="">
                        </div>

                        <div class="ml-5 mt-3">
                            <a href="">
                                <p class="font-medium text-base"></p>
                            </a>
                        </div>
                    </div>


                </div>
                <div class="mt-24 ml-16">

                    <div class="relative px-4 my-16">
                        <div class="w-72 h-96 relative">
                            <img class="w-full h-full rounded-md" src="" alt="">
                            <div class="flex absolute top-5 right-5 text-white ">
                                <p class="font-medium">From</p>
                                <p class="font-medium text-lg mx-1"></p>
                            </div>
                            <div class="absolute bottom-52 left-6 text-gray-300">
                                <p class="font-normal text-base "></p>
                            </div>
                            <div class="absolute bottom-36 left-6 text-white">
                                <p class="font-normal text-2xl "></p>
                            </div>
                            <div class="absolute bottom-24 left-6 text-white flex  ">

                                <i class="fa-regular fa-clock text-base py-1 "></i>
                                <div class="">
                                    <p class="font-normal text-base px-2  "> Days</p>
                                </div>
                                <div class="flex mx-2 my-1 ">
                                    <i class="fa-regular fa-star px-1 text-yellow-400"></i>
                                    <i class="fa-regular fa-star text-yellow-400 "></i>
                                    <i class="fa-regular fa-star px-1 text-yellow-400"></i>
                                    <i class="fa-regular fa-star text-yellow-400   "></i>
                                    <i class="fa-regular fa-star px-1 text-yellow-400"></i>
                                </div>
                                <div class="">
                                    <p>4.8/5</p>
                                </div>
                            </div>
                            <div
                                class="absolute bottom-5 left-8 border border-white text-white rounded-sm hover:bg-orange-500  ">
                                <a href="#">
                                    <p class="font-medium text-lg px-10 py-3">Tìm Hiểu Thêm</p>
                                </a>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="mt-16 ml-24">
                    <div>
                        <p class="font-medium text-xl">Các Thể Loại Phổ Biến</p>
                    </div>
                    <div class="mt-6">
                        <div class="flex">
                            <div class="border border-gray-300 bg-gray-200 px-1 py-1 rounded-md">
                                <a href="">
                                    <p>Phiêu Lưu</p>
                                </a>
                            </div>
                            <div class="border border-gray-300 bg-gray-200 px-1 py-1 rounded-md ml-3">
                                <a href="">
                                    <p>Tuần Trăng Mật</p>
                                </a>
                            </div>
                        </div>
                        <div class="flex mt-3">
                            <div class="border border-gray-300 bg-gray-200 px-1 py-1 rounded-md">
                                <a href="">
                                    <p>Đu Lịch Thành Phố</p>
                                </a>
                            </div>
                            <div class="border border-gray-300 bg-gray-200 px-1 py-1 rounded-md ml-3">
                                <a href="">
                                    <p>Đi Bộ Đường Dài</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


   
</div>